<div class="row">
  <div class="col-sm-12 col-md-8">
    <div class="product-import">
      <h3>Upload Patient Data</h3>
      <%= form_tag import_patients_path, multipart: true do %>
          <%= file_field_tag :file, class: "btn btn-secondary" %>
          <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
<div id="patient-app"></div>
